<div>
    <h1>Thông tin người dùng</h1>
    <br>
    <p>Account money: {{amount}} $</p>
    <br>
    <p>Full name: {{fullname}}</p><b>{{status}}</b>
    <p>Email: {{email}}</p>
    <p>Phone: {{phone}}</p>
    <p>Address: {{address}}</p>
    <p>Create at: {{createAt}}</p>

</div>